.searchedDiv table{
    width: 100%;
    table-layout: fixed;
}

.searchedDiv table tbody tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.searchedDiv table tbody tr td img{
    width: 24px;
}