@font-face {
    font-family: 'LibreBarcode128';
    src: url('../Assest/Fonts/LibreBarcode128-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Code 128';
    src: url('../Assest/Fonts/code-128.woff2') format('woff2');
  }

  .barcodesesction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.barcode39 {
    font-family: 'Code 128' , sans-serif;
    font-size: 6em;
    border: 1px solid #ccc;
    padding: 0.5vh 0 4vh 0;
    margin-top: 10px;
    height: 10vh;
    width: 90%;
  }

 
  

  .searchedDiv{
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 10vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
  }

  .scanpagediv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 2px;
  }