.CodesDiv{
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-height: 52vh;
    margin-top: 50px;
   
}
.CodesChild{
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    font-size: large;
    box-sizing: border-box;
}

.CodesChild table {
    width: 100%;
    border-collapse: collapse;
  }
  
.CodesChild table thead {
    background-color: #f2f2f2;
  }
  
.CodesChild table th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }


  

.deletebtn{
    background-color: rgb(249, 133, 133);
    color: rgb(0, 0, 0);
    border: hidden;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    font-size: larger;
}