/* Styles for individual components */
.navbar {
    background-color: #333;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }

  .mobilenavbar{
    display: none;
  }
 

  /* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .lastlink{
    position: absolute;
    bottom: 10px;
  }
    .navbar{
        display: none;
    }
    .mobilenavbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        background-color: #333;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
        z-index: 100000;
        top: 0;
        position: fixed;
        margin: 0;
        left: 0;
        right: 0;
    }
    .mobilenavminu{
        background-color: #333;
        color: white;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: x-large;
        text-align: left;
        position: fixed;
        width: 60%;
       
        z-index: 10000;
        height: 100%;
        right: 0;
        margin: 0;
        top: 0;
    }
    .mobilenavminu button{
      position: absolute;
      top: 25px;
      right: 5px;
      border: none;
      background-color: transparent;
      color: white;
      font-size: larger;
    }
    .mobilenavminu h1{
      font-size: 40px;
      font-weight: 500;
      text-decoration: 2px underline;
      text-underline-offset: 5px;
      margin-top: 20px;
      margin-left: 10px;
    }
    .mobilenavminu a {
        color: white;
        text-decoration: none;
      }
      
      .mobilenavminu a:hover {
        text-decoration: underline;
      }

      .navlink{
        padding: 10px;
      }
    .activeRoute{
      background-color: #4d4d4d;
      padding: 10px;
    }


}
